<div>
  <h3>{{singleUser.id}} -- {{singleUser.name}} -- {{singleUser.username}}</h3>
  <p>
    Contacts: {{singleUser.email}}, phone {{singleUser.phone}}
  </p>
  <p>
    Address: {{singleUser.address.city}}, {{singleUser.address.street}}, {{singleUser.address.suite}},
    {{singleUser.address.zipcode}}
  </p>
  <p>
    Company: {{singleUser.company.name}}, {{singleUser.company.catchPhrase}}, {{singleUser.company.bs}}
  </p>
  <hr/>
  <p>
    GEO: {{singleUser.address.geo.lat}}, {{singleUser.address.geo.lng}}
  </p>
</div>
